@mixin WH($width, $height) {
  width: $width;
  height: $height;
}

@mixin FlexC {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

@mixin FlexR {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}


